.page_image_plus {
  .demo_block {
    margin-bottom: 30rpx;
    background-color: #fff;

  }

  .demo_title {
    padding: 20rpx 30rpx;
    font-size: 26rpx;
    color: #666;
  }

  .demo_content {
    padding: 20rpx 0;
    margin: 0 30rpx;
  }
}